{% extends "base.html" %}
{% block container%}
    <div>
        <div class="card text-center bg-secondary">
        <h4 class="card-title" style="margin-top: 20px; margin-bottom: 20px">{{ contract.name }}</h4>
        <p class="card-text" style="margin-bottom: 20px">{{ contract.date }}</p>

    </div>
        <table class="table table-striped" >
            <thead class="table-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Origen</th>
                    <th scope="col">Destino</th>
                    <th scope="col">Tarifa 20</th>
                    <th scope="col">Tarifa 40</th>
                    <th scope="col">Tarifa 40 HC</th>
                    <th scope="col">Moneda</th>
                </tr>
            <thead>
            <tbody>
                {% for rate in rates %}
                    <tr>
                        <td scope="row">{{ forloop.counter  }}</td>
                        <td scope="row">{{ rate.origin }}</td>
                        <td scope="row">{{ rate.destination }}</td>
                        <td scope="row">{{ rate.twenty }}</td>
                        <td scope="row">{{ rate.forty }}</td>
                        <td scope="row">{{ rate.fortyhc }}</td>
                        <td scope="row">{{ rate.currency }}</td>
                    </tr>
                {% endfor %}
        </table>
    </div>

{% endblock %}