{% extends 'base.html' %}
{% block container %}
    <div style="card">
        <div>
            {% for contract in contracts%}
                <a href="/contract/{{ contract.id }}/" style="color: #343a40; text-decoration: none;">
                    <div class="card bg-secondary">
                        <div class="card-body">
                            <h5 class="card-title">{{contract.name}}</h5>
                            <p class="card-text">{{contract.date}}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        <div>
    </div>
{% endblock %}